<h1>Prepare for the challenge</h1>
<div class='well' id='question_block'>
  <div id='request'>
    <a class='btn btn-large' ng-click='problem.$getProblem()' ng-hide='problem.description'>
      Start
    </a>
  </div>
  <div id='question' ng-show='problem.description'>
    {{ problem.description }}
  </div>
</div>
<div class='span7' id='own_wb'>
  <h2>
    You
    <a class='btn btn-primary' ng-click='submitSolution()' ng-show='problem.description'>
      Submit Code
    </a>
  </h2>
  <textarea id='whiteboard' ng-model='solution.code' ui-codemirror='boardOptions'></textarea>
  <div class='well'>
    <log tag='challenge'></log>
  </div>
</div>
<div class='span4' id='rivals_wb'>
  <div class='rival_board' ng-repeat='rival in rivals'>
    Rival: {{ rival.name }}
    <textarea ng-model='rival.code' ui-codemirror='rivalBoardOptions'></textarea>
  </div>
</div>
