!!! 5
%html.no-js
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title
      CodeHero

    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/

    / Place favicon.ico and apple-touch-icon.png in the root directory

    %link{href: "bower_components/codemirror/lib/codemirror.css", rel: "stylesheet"}/
    %link{href: "bower_components/codemirror/theme/ambiance.css", rel: "stylesheet"}/
    %link{href: "bower_components/angular-ui/build/angular-ui.css", rel: "stylesheet"}/

    / build:css({.tmp,app}) styles/main.css
    %link{href: "styles/base.css", rel: "stylesheet"}/
    %link{href: "styles/challenge/common.css", rel: "stylesheet"}/
    %link{href: "styles/common/widgets/log.css", rel: "stylesheet"}/
    / endbuild

  %body{"ng-app" => "codehero"}
    %header.navbar.navbar-fixed-top{ 'ng-include' => "'views/header.html'" }
    .container{"ng-view" => ""}

    / build:js scripts/plugins.js
    %script{src: "bower_components/jquery/jquery.js"}
    %script{src: "bower_components/angular/angular.js"}
    %script{src: "bower_components/angular-ui/build/angular-ui.js"}
    %script{src: "bower_components/underscore/underscore.js"}
    %script{src: "bower_components/bootstrap-sass/js/bootstrap-dropdown.js"}
    %script{src: "bower_components/codemirror/lib/codemirror.js"}
    %script{src: "bower_components/codemirror/mode/python/python.js"}
    %script{src: "bower_components/socket.io-client/dist/socket.io.js"}
    / endbuild

    / build:js scripts/modules.js
    %script{src: "bower_components/angular/angular-resource.js"}
    %script{src: "bower_components/angular/angular-cookies.js"}
    %script{src: "bower_components/angular/angular-sanitize.js"}
    / endbuild

    / build:js({.tmp,app}) scripts/scripts.js
    %script{src: "scripts/config/config.js"}
    %script{src: "scripts/config/router.js"}
    %script{src: "scripts/config/routes.js"}
    %script{src: "scripts/filters/filters.js"}
    %script{src: "scripts/app.js"}
    %script{src: "scripts/controllers/header.js"}
    %script{src: "scripts/controllers/challenges.js"}
    %script{src: "scripts/controllers/challenge.js"}
    %script{src: "scripts/services/socketio.js"}
    %script{src: "scripts/services/global.js"}
    %script{src: "scripts/services/challenge.js"}
    %script{src: "scripts/widgets/log.js"}

    %script{src: "scripts/extra/codemirror.js"}
    / endbuild
