%h1 Challenges view

%h2 Challenges
%ul.challenges
  %li.challenge{ 'ng-repeat' => 'challenge in challenges' }
    %a{ 'ng-href' => '#/challenge/{{challenge.id}}' }
      {{ challenge.name }}

%h2 New challenge
%form{ name: 'new_challenge', 'ng-submit' => 'create()' }
  %input{ type: 'text', name: 'name', 'ng-model' => 'newChallenge.name' }
  %input{ type: 'submit' }
